

/* common css start  */

.container{
    width: 1140px;
    margin: 0 auto;
}

a{
    text-decoration: none;
}

.button {
    background-color: #2A7B9B;
    color: white;
    padding: 12px 36px;
    border-radius: 5px;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 600;
    transition: 0.4s;
    display: inline-block;
    border: 3px solid transparent;
}

.button:hover {
    background: #57C785;
    border: 3px solid #000000;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Raleway",
    sans-serif;
}

/* common css end  */
nav{
    display: flex;
    padding: 50PX 0;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}


nav .container {
    display: flex;
    justify-content: space-between;
}

nav .left  a{ 
    color: #2A7B9B;
    font-family: "Inter",
    sans-serif;
    font-size: 34px;
    font-weight: 800;
    line-height: 34px;
}
nav .left a span{
    color: #57C785;
}

/* banner section start */

#banner_section {
    background: url('../Assets/Hero-bg.png') no-repeat center ;
    background-size: cover;
    padding: 250px 0 200px;
    text-align: center;
    margin-bottom: 140px;
}


#banner_section .headdiing {
    font-size: 65px;
    font-weight: bold;
    margin-bottom: 38px;
}

/* banner section end */


#live_preview .container {
    display: flex;
    justify-content: space-between;
}

#live_preview .container .left{
    align-items: center;
}

#live_preview .container .headdiing{
    font-size: 42px;
    font-weight: bold;
    margin-bottom: 24px;
    color: #252432;
    margin-top: 38px;
}
#live_preview .container .sub_headdiing {
    font-size: 42px;
    font-weight: 400;
    color: rgba(37, 36, 50, 0.5);
    margin-bottom: 24px;
    color: 252432;
}



#live_preview .right img{
border-radius: 48px;
}